@media screen and (max-width: 376px) {
    .page_01_box_01 {
        width: 200px;
        margin-top: 40px;
    }

    .page_01_box_02 {
        margin-top: 40px;
        width: 190px;
    }

    .page_01_box_03 {
        margin: 15px 0px 30px;
        font-size: 24px;
    }

    .page_01_box_04 {
        width: 135px;
    }

}